.main{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    /*border: 1px solid rgb(11, 66, 99);*/ 
    border-radius: 0;
    background: rgb(11, 66, 99);
    width: 100vw;
	height: 100vh;
    display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
    padding-top: 90px;
}

.topMenu  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: rgb(17, 96, 145);
    z-index: 99999;

}

.gamesList {
    width: 100vw;
    height: auto;
}

.inListItem {
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;

/*
    background: #29b6f6;
    opacity: 0.87;

    border-radius: 50%;
    border: 1px solid blue;

    min-width: 70px;
    min-height: 70px;
    height: 90px;
    width: auto;
*/

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}


.listItem:hover {
	background: rgba(256, 256, 256, 0.3);
}

.listItem {
    cursor: pointer;
    height: auto;
}

.listItemDiv {
    text-align: center;
    width: 100%;
    height: 100%;
}

@media (min-width: 500px) {
	.gamesList.big {
        display: block;
        overflow: scroll;
    }
    .topMenu.big{
      display: block;

    }
    .gamesList.small {
        display: none;
    }
    .topMenu.small{
      display: none;
    }
}

@media (max-width: 800px) {
	.gamesList.big {
        display: none;
        overflow: scroll;
    }
    .topMenu.big{
      display: none;

    }
    .gamesList.small {
        display: block;
    }
    .topMenu.small{
      display: block;
    }
}
#list-icon{
  transform: scale(2);
  margin-top : -20px;
  
}

