#interests{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgb(2, 58, 14);

}
.example-chip-list {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
  

#interestsMainDiv{
    background: #33b433;
    border: 1px solid green;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#interestsTitleDiv{
    width: 100%;
    flex: 20%;  
    border: 0px solid black;
}

#interestsTitle2Div{
    padding-top: 7%;
    width: 100%;
    text-align: center;
}

#interestsTitleLable{
    font-family: 'koodak' ;
    font-size: 2vw;
    color: white;
}

#interestsMat-grid-list{
    width:100%;
    flex: 70%;
    overflow-y: scroll;
    background: #55a555;
}

#interestsMat-gridDiv{
    width: 100%;
    height: 100%;
}

#interestsMat-flat-button{
    margin: 4px;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    font-family: Eczar;
    font-size: 1.5px;
    background:#b7ffb7;
}


#interestsSubmitDiv{
    width: 100%;
    flex: 10%;
}

#interestsSubmitButton{
    width: 100%;
    height: 100%;
    background: #33b433;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-size: 2vw;
    font-family: cursive;
}

.main{

    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;
    
    border: 1px solid #00c;
    border-radius: 10px;
    background: rgb(0, 54, 5)
    
}

.title{
    flex: 10%;
    padding: 5%;
    padding-bottom: 5%;
    font-size: 2.8vw;
    color: rgb(11, 66, 99);
}


@media (min-width: 15vw) {

	.main{

		width: 30vw;
		height: 40vw;

	}

}

@media (max-width: 30vw) {

	.main{

		width: 30vw;
		height: 40vw;

	}

}
