* {
    color: white;
}

#body{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width: 100%;
    height: 100%;
    background: rgb(11, 66, 99);
}

.main{
    background: rgb(12, 115, 175);
    opacity: 1;
    height: 570px;
}

.title{
    flex: 10%;
    padding: 5%;
    padding-bottom: 5%;
    font-size: 45px;
    color: rgb(11, 66, 99);
}

.titleActive{
    flex: 10%;
    padding: 5%;
    padding-bottom: 5%;
    font-size: 40px;
    color: rgb(11, 66, 99);
}

form{
    height: 100%;
}

mat-form-field{
    text-align: center;
    flex: 20%;
    width: 80%;
    font-size: 25px;
    text-align: center;
}

mat-placeholder{
    color: rgb(11, 66, 99);
}

.error-field{
    flex: 10%;
    padding: 4%;
}

.agreement-field{
    flex: 10%;
    padding-top: 4%;
}

#conditionTxt{
    font-style: bold;
}
#conditionDiv{
    /*
    width: 100%;
    height: 100%;*/
    display: flex;
    flex-direction: column;
    text-align: right;
}
#conditionDiv pre{
    margin-right: -150px;
    padding: 5px;
}
#conditionCheckBox{
    /*float: right;*/
    bottom: 5px;
    padding-right: 0px;
    padding-left: 5px;
}


#closeIcon {
    cursor: pointer;
    transform: scale(1.5);
    margin-right: -192px;
    margin-top: 5px;
}
#passIcon {
    cursor: pointer;
    transform: scale(0.5);
    position: absolute;
    margin-right: 5px;
    margin-top: -15px;
}

.submit-field{
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    flex: 20%;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.submit-field button{
    flex: 100%;
    width: 50%;
    min-width: 100px;
    padding: 10px;
	font-size: 25px;
    background: rgb(17, 96, 145);
    color: rgb(11, 66, 99);
}
