.div{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  width: 100%;
  height: 100%;
  background: rgb(11, 66, 99);
}
#main{
  background-color: rgb(12, 115, 175);
}
.topMenu  {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: rgb(17, 96, 145);
  z-index: 99999;
}
.inListItem{
  font-size:130%;
}
@media (min-width: 900px) {
	.gamesList.big {
        display: block;
        overflow: scroll;
    }
    .topMenu.big{
      display: block;

    }
    .gamesList.small {
        display: none;
    }
    .topMenu.small{
      display: none;
    }
}

@media (max-width: 1200px) {
	.gamesList.big {
        display: none;
        overflow: scroll;
    }
    .topMenu.big{
      display: none;

    }
    .gamesList.small {
        display: block;
    }
    .topMenu.small{
      display: block;
    }
}

