.div{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  width: 100%;
  height: 100%;
  background: rgb(11, 66, 99);
}
#main{
flex: 1;
margin-top: 120px;


}

.disabled{
  pointer-events: none;
}

.oval2{
  height: 30px;
  width: 50px;
  background-color: rgb(12, 115, 175);
  border: .5px solid white;
  border-radius: 30%;




}
.oval1{
  height: 50px;
  width: 200px;
  background-color: rgb(12, 115, 175);
  border: 1px solid white;
  border-radius: 30%;




}
.name{
  text-align: center;
}
.image{
  size: 0px;
}
.circle1{
  height: 230px;
  width: 230px;
  background-color: rgb(12, 115, 175);
  border: 1px solid white;
  border-radius: 50%;




}

.topMenu  {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: rgb(17, 96, 145);
  z-index: 99999;
  position: fixed;
}

@media (min-width: 900px) {
	.contestsList.big {
        display: block;
        overflow: scroll;
    }
    .topMenu.big{
      display: block;

    }
    .contestsList.small {
        display: none;
    }
    .topMenu.small{
      display: none;
    }
}

@media (max-width: 1200px) {
	.contestsList.big {
        display: none;
        overflow: scroll;
    }
    .topMenu.big{
      display: none;

    }
    .contestsList.small {
        display: block;
    }
    .topMenu.small{
      display: block;
    }
}
#list-icon{
  transform: scale(2);
  margin-top : -20px;

}

.data{
 text-align:center;
 margin-left:5%;
}
